.addForm {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 30%;
    margin-left: 4%;
    border-style: dashed;
}

.addForm input {
    margin-top: 4%;
    margin-bottom: 4%; 
    border-style: dotted;
    padding-top: 5%;
    padding-bottom: 5%; 
}

.addForm button {
    margin-top: 5%;
}

#applyBtn {
    float: right;
    overflow: auto;
    position: absolute;
    font-size: 2em;
}