@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

html {
    font-family: 'Roboto Mono', monospace;
    background-color: white;
}

.addForm {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-left: 4%;
    font-size: 1.5em;
}

#applyBtn {
    height: 3em;
    width: 5em;
    font-size: 1.25em;
    margin-left: 4%;
    margin-top: 2%;
}

p {
    margin: 2%;
}

.topbar {
    margin-left: 4%;
    margin-top: 2%;
}

.errorMessage {
    position: absolute;
    top: 15%;
    right: 15%;
}

