@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

html {
    font-family: 'Roboto Mono', monospace;
    background-color: white;
}


h1 {
    font-size: 2.5em;
}

.SkuP {
    display: inline;
}

.skuDiv {
    display: inline;
}

.ch {
    position: absolute;
    top: 1.5em;
    left: 1.5em;
    height: 30px;
    width: 30px;
}

.topRight {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
    right: 0;
    padding-left: 40%;
}

#stuff {
    margin-right: 13%;
    height: auto;
}

#applyBtn {
    height: auto;
}

    
.topElem {
    padding: 0px 24px;
}

.productGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  text-align: center;
  align-content: flex-start;
  margin: auto;
  font-size: 1.5em;
}


.product {
    position: relative;
    margin: 1px;
    align-self: auto;
    flex: 33%;
    max-width: 33%;
    border: 1px solid black;
    padding-bottom: 3%;
    padding-top: 3%;
}

.topbar {
    position: relative;
    margin-top: 2%;
    margin-bottom: 2%;
}