.topRight {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
    right: 0;
    padding-left: 20%;
}

    
.topElem {
    padding: 0px 24px;
}

.productGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 1400px;
  text-align: center;
  align-content: flex-start;
  margin: auto;
}


.product {
    border: black;
    flex: 33%;
    margin: 1px;
    max-width: 33%;
}

.topbar {
    position: relative;
    margin-top: 2%;
    margin-bottom: 2%;
}